block variables

include ../components/components

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block styles
      link(rel='stylesheet' href='css/style.min.css')
    title= title
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    meta(name='description' content='Техномарт — интернет-магазин строительных материалов и инструментов для ремонта.')
    meta(name='keywords' content='Техномарт, строительные материалы, инструменты для ремонта')
  body.page__body
    .page__inner
      main.page__content
        block content
    block modals
    block scripts
      script(src='js/script.min.js')
