mixin contacts
  address.contacts&attributes(attributes)
    a.contacts__phone(href="tel:+78005558628") +7&nbsp;(800)&nbsp;555-86-28
    | г.&nbsp;Санкт-Петербург, наб.&nbsp;Реки Карповки, 5&nbsp;лит&nbsp;П
