mixin feedback-success-alert-modal-template
  template#feedback-success-alert-modal-template&attributes(attributes)
    +modal(class='modal--alert')
      +alert('Письмо отправлено!')(class='alert--success')
