mixin logo
  a.logo(href= pageClass === 'index-page' ? false : 'index.html')&attributes(attributes)
    img.logo__image(width='108' height='18' src='img/logo.svg' alt='Логотип в виде напдиси «ТЕХНОМАРТ».')
