extends layout/layout

block variables
  - var title = 'Перфораторы'
  - var pageClass = 'catalog-page'

block data

block content
  .container
    +breadcrumbs([
      { text: 'Каталог', href: '#' },
      { text: 'Инструмент', href: '#' },
      { text: 'Перфораторы' },
    ])(class='catalog-page__breadcrumbs')
