extends layout/layout

block variables
  - var title = 'Перфораторы'
  - var pageClass = 'catalog-page'

prepend styles
  link(rel='stylesheet' href='vendor/nouislider/nouislider.min.css')

block data

block content
  .container
    +breadcrumbs([
      { text: 'Каталог', href: '#' },
      { text: 'Инструмент', href: '#' },
      { text: 'Перфораторы' },
    ])(class='catalog-page__breadcrumbs')
    +section-header('Перфораторы')(class='catalog-page__page-header')
    +catalog(class='catalog-page__catalog')
  +note('Пара слов о&nbsp;перфораторах', 'Перфоратор&nbsp;— универсальный строительный инструмент. Предназначен для&nbsp;сверления и&nbsp;долбления отверстий в&nbsp;кирпиче, бетоне и&nbsp;камне.<br> Существуют электромеханические и&nbsp;пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и&nbsp;отбойного молотка.<br> В&nbsp;ассортиментном ряду есть выбор «трехрежимников»: в&nbsp;одном устройстве будут совмещены отбойный молоток и&nbsp;ударная дрель.')

prepend scripts
  script(src='vendor/nouislider/nouislider.min.js')
