extends layout/layout

block variables
  - var title = 'Главная'
  - var pageClass = 'index-page'

prepend styles
  link(rel='stylesheet' href='vendor/splide/splide-core.min.css')

block data
  include data/popular-products
  include data/popular-manufacturers

block content
  h1.visually-hidden Интернет-магазин «Техномарт»
  +offers(class='index-page__offers')
  +products(popularProducts)(class='index-page__products')
  +brands(popularManufacturers)(class='index-page__brands')
  +services(class='index-page__services')
  +about-and-location(class='index-page__about-and-location')

append modals
  +modal(class='modal--feedback' data-modal='feedback')
    +feedback-form

append templates
  +feedback-success-alert-modal-template

prepend scripts
  script(src='vendor/splide/splide.min.js')
  script(src='vendor/pristine/pristine.min.js')
