.about__heading {
  margin: 0 0 18px;
}

.about__text {
  margin: 0 0 18px;

  &--with-list {
    margin: 0 0 12px;
  }
}

.about__list {
  margin: 12px 0 18px;
}

.about__button {
  min-width: 220px;
}
