.feedback-form {
  padding: 40px 0 0;
}

.feedback-form__body {
  display: grid;
  padding: 0 80px;
  margin: 0 0 37px;
  grid-template-columns: 1fr 1fr;
  gap: 14px 20px;
}

.feedback-form__textarea {
  grid-column: 1 / 3;
}

.feedback-form__footer {
  display: grid;
  padding: 37px 80px;
  background: $background-additional-color-3;
}

.feedback-form__error-text {
  margin: 0 0 12px;
  line-height: 20px;
  color: $accent-color;
  transform-origin: left center;
  animation: feedback-form-error-text-appearance 300ms;
}

@keyframes feedback-form-error-text-appearance {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
