.page__body {
  min-width: 980px;
  margin: 0;
  font: 400 13px/24px $main-font-family;
  color: $text-color;
  background-color: $background-color;
}

.page__inner {
  position: relative;
  z-index: 0;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  overflow-y: auto;
}
