.page__body {
  min-width: 980px;
  margin: 0;
  font-family: $main-font-family;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
}

.page__inner {
  position: relative;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  overflow-y: auto;
}
