.services {
  padding: 60px 0 0;
  background: $background-additional-color;
}

.services__heading {
  margin: 0 0 20px;
}

.services__lead {
  max-width: 412px;
  margin: 0 0 12px;
}

.services__taber {
  min-height: 333px;
  margin: 21px 0 0;
}
