.shortcuts {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.shortcuts__link {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 8px 8px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition-property: color, background-color;
  transition-duration: $little-interaction-duration;
  transition-timing-function: $little-interaction-timing-function;

  &:active {
    color: rgba($text-alter-color, 0.5);
    background: $background-alter-color-darkest;
  }

  &--with-icon {
    grid-auto-flow: column;
    gap: 8px;
    justify-content: center;

    &::before {
      content: "";
      background: currentColor;
      opacity: 0.3;
      transform: translateY(-1px);
      transition: opacity $little-interaction-duration $little-interaction-timing-function;
    }

    &:hover:not(:active)::before {
      opacity: 1;
    }
  }

  &--with-icon_bookmarks::before {
    width: 14px;
    height: 16px;
    mask: url("../img/icons.svg#bookmark");
  }

  &--with-icon_cart::before {
    width: 15px;
    height: 15px;
    mask: url("../img/icons.svg#cart");
  }

  &--active {
    background: $accent-color;

    &:active {
      background-color: $accent-color-darkest;
    }
  }

  &--accent {
    background-color: $special-color;

    &:hover:not(:active) {
      background-color: $special-color-light;
    }

    &:active {
      background-color: $special-color;
    }
  }
}
