.site-footer {
  font-family: $additional-font-family;
  font-size: 18px;
  text-decoration-skip-ink: none;
  color: $text-alter-color;
  background: $background-alter-color;
}

.site-footer__inner {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-areas:
    "logo     navigation-1"
    "contacts navigation-2";
  gap: 23px 48px;
  align-items: start;
}

.site-footer__logo {
  grid-area: logo;
  width: 220px;
}

.site-footer__contacts {
  grid-area: contacts;
  margin: 0 0 0 3px;
  font-style: normal;
}

.site-footer__contacts-link {
  display: block;
  width: max-content;
  text-decoration: none;
  color: inherit;
  transition: opacity $little-interaction-duration $little-interaction-timing-function;

  &:hover:not(:active) {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.site-footer__navigation {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px 58px;
  justify-content: flex-end;

  &--accent {
    color: $text-alter-additional-color;
  }

  &:nth-of-type(1) {
    grid-area: navigation-1;
    margin: 38px 0 0;
  }

  &:nth-of-type(2) {
    grid-area: navigation-2;
    margin: 5px 0 0;
  }
}

.site-footer__navigation-link {
  text-decoration: none;
  color: inherit;
  transition: opacity $little-interaction-duration $little-interaction-timing-function;

  &[href]:hover:not(:active) {
    text-decoration: underline;
  }

  &[href]:active {
    opacity: 0.5;
  }
}

.site-footer__panel {
  padding: 33px 0;
  margin: 54px 0 0;
  font-size: 16px;
  line-height: 18px;
  background: $background-alter-color-dark;
}

.site-footer__panel-inner {
  display: grid;
  grid-template-columns: 270px 1fr 300px;
  gap: 64px;
  justify-content: space-between;
  align-items: center;
}

.site-footer__copyright {
  margin: 0;
}

.site-footer__socials {
  margin: 0;
}

.site-footer__list {
  display: grid;
  margin: 0;
  grid-template-columns: auto auto;
  gap: 51px;
  justify-content: start;
}

.site-footer__list-value {
  margin: 0;
  color: $text-alter-additional-color;
}

.site-footer__list-link {
  text-decoration: none;
  color: inherit;
  transition: color $little-interaction-duration $little-interaction-timing-function;

  &:hover:not(:active) {
    text-decoration: underline;
  }

  &:active {
    color: $accent-color;
  }
}
