.socials {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  &--centered {
    justify-content: center;
  }
}

.socials__logo {
  max-width: 25px;
  max-height: 25px;
}

.socials--decorated {
  gap: 4px;

  .socials__link {
    display: grid;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    place-items: center;
    background: $background-alter-color-darkest-3;
    transition: background-color $little-interaction-duration $little-interaction-timing-function;

    &:hover,
    &:active {
      background: $accent-color;
    }
  }
}
