// Fonts
$main-font-family: "PT Sans", "Arial", sans-serif;
$additional-font-family: "Cuprum", "Arial", sans-serif;

// Colors
$text-color: #000000;
$text-alter-color: #ffffff;
$background-color: #ffffff;
$background-alter-color-darkest: #161d29;
$accent-color: #ee3643;
$accent-color-darkest: #ba2732;
$special-color: #63a63e;
$special-color-light: #5fbb2d;

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
