// Fonts
$main-font-family: "PT Sans", "Arial", sans-serif;
$additional-font-family: "Cuprum", "Arial", sans-serif;

// Colors
$text-color: #000000;
$text-weak-color: #c5c5c5;
$text-weak-color-dark: #b5b5b5;
$text-weak-color-2: #a9a9a9;
$text-weak-color-3: #c1c6ce;
$text-additional-color: #32425c;
$text-additional-color-2: #3d546f;
$text-alter-color: #ffffff;
$text-alter-additional-color: #ffd180;
$background-color: #ffffff;
$background-additional-color: #f1f5f7;
$background-additional-color-2: #f9f5f0;
$background-additional-color-3: #f4f4f4;
$background-alter-color: #32425c;
$background-alter-color-light: #405069;
$background-alter-color-dark: #293449;
$background-alter-color-darkest: #161d29;
$background-alter-color-darkest-2: #1d2739;
$background-alter-color-darkest-3: #212a3a;
$background-alter-color-2: #ffbf47;
$background-alter-color-3: #3bbce3;
$background-alter-color-4: #dc91d8;
$background-alter-color-5: #8ed78f;
$background-alter-translucent-color: rgba(#c5c5c5, 0.3);
$background-alter-translucent-color-light: rgba(#ffffff, 0.3);
$background-alter-translucent-color-dark: rgb(#a9a9a9, 0.3);
$background-alter-translucent-color-2: rgba(#000000, 0.25);
$border-color: #eaeaea;
$border-color-2: #e5e5e5;
$border-color-dark: #c5c5c5;
$border-color-darkest: #b5b5b5;
$accent-color: #ee3643;
$accent-color-dark: #ca2c37;
$accent-color-darkest: #ba2732;
$special-color: #63a63e;
$special-color-light: #5fbb2d;
$special-color-dark: #518534;
$special-color-darkest: #518534;

// Shadows
$main-shadow: 0 4px 20px rgba(#000000, 0.15);

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$card-interaction-duration: 250ms;
$card-interaction-timing-function: ease-in-out;
