// Fonts
$main-font-family: "PT Sans", "Arial", sans-serif;
$additional-font-family: "Cuprum", "Arial", sans-serif;

// Colors
$text-color: #000000;
$text-weak-color: #c5c5c5;
$text-additional-color: #32425c;
$text-additional-color-2: #3d546f;
$text-alter-color: #ffffff;
$background-color: #ffffff;
$background-additional-color: #f1f5f7;
$background-alter-color: #32425c;
$background-alter-color-dark: #293449;
$background-alter-color-darkest: #161d29;
$background-alter-color-darkest-2: #1d2739;
$accent-color: #ee3643;
$accent-color-darkest: #ba2732;
$special-color: #63a63e;
$special-color-light: #5fbb2d;

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
