-
  var popularManufacturers = {
    heading: 'Популярные производители',
    linkText: 'Все производители',
    href: '#',
    list: [
      {
        image: 'img/manufacturers/bosch.png',
        image2x: 'img/manufacturers/bosch@2x.png',
        imageWebp: 'img/manufacturers/bosch.webp',
        imageWebp2x: 'img/manufacturers/bosch@2x.webp',
        alt: 'Логотип BOSCH.',
        href: '#',
      },
      {
        image: 'img/manufacturers/makita.png',
        image2x: 'img/manufacturers/makita@2x.png',
        imageWebp: 'img/manufacturers/makita.webp',
        imageWebp2x: 'img/manufacturers/makita@2x.webp',
        alt: 'Логотип makita.',
        href: '#',
      },
      {
        image: 'img/manufacturers/dewalt.png',
        image2x: 'img/manufacturers/dewalt@2x.png',
        imageWebp: 'img/manufacturers/dewalt.webp',
        imageWebp2x: 'img/manufacturers/dewalt@2x.webp',
        alt: 'Логотип DeWALT.',
        href: '#',
      },
      {
        image: 'img/manufacturers/interskol.png',
        image2x: 'img/manufacturers/interskol@2x.png',
        imageWebp: 'img/manufacturers/interskol.webp',
        imageWebp2x: 'img/manufacturers/interskol@2x.webp',
        alt: 'Логотип ИНТЕРСКОЛ.',
        href: '#',
      },
      {
        image: 'img/manufacturers/hitachi.png',
        image2x: 'img/manufacturers/hitachi@2x.png',
        imageWebp: 'img/manufacturers/hitachi.webp',
        imageWebp2x: 'img/manufacturers/hitachi@2x.webp',
        alt: 'Логотип HITACHI.',
        href: '#',
      },
      {
        image: 'img/manufacturers/LG.png',
        image2x: 'img/manufacturers/LG@2x.png',
        imageWebp: 'img/manufacturers/LG.webp',
        imageWebp2x: 'img/manufacturers/LG@2x.webp',
        alt: 'Логотип LG.',
        href: '#',
      },
      {
        image: 'img/manufacturers/aeg.png',
        image2x: 'img/manufacturers/aeg@2x.png',
        imageWebp: 'img/manufacturers/aeg.webp',
        imageWebp2x: 'img/manufacturers/aeg@2x.webp',
        alt: 'Логотип AEG.',
        href: '#',
      },
      {
        image: 'img/manufacturers/metabo.png',
        image2x: 'img/manufacturers/metabo@2x.png',
        imageWebp: 'img/manufacturers/metabo.webp',
        imageWebp2x: 'img/manufacturers/metabo@2x.webp',
        alt: 'Логотип metabo.',
        href: '#',
      },
    ],
  };
