-
  var products = [
    {
      heading: 'Перфоратор BOSCH BFG 6000',
      href: '#',
      image: 'img/products/product-3.jpg',
      image2x: 'img/products/product-3@2x.jpg',
      imageWebp: 'img/products/product-3.webp',
      imageWebp2x: 'img/products/product-3@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой и ограничительной линейкой.',
      oldPrice: 30500,
      newPrice: 25500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 6000',
      href: '#',
      image: 'img/products/product-3.jpg',
      image2x: 'img/products/product-3@2x.jpg',
      imageWebp: 'img/products/product-3.webp',
      imageWebp2x: 'img/products/product-3@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой и ограничительной линейкой.',
      oldPrice: 30500,
      newPrice: 25500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 6000',
      href: '#',
      image: 'img/products/product-3.jpg',
      image2x: 'img/products/product-3@2x.jpg',
      imageWebp: 'img/products/product-3.webp',
      imageWebp2x: 'img/products/product-3@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой и ограничительной линейкой.',
      oldPrice: 30500,
      newPrice: 25500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 3000',
      href: '#',
      image: 'img/products/product-2.jpg',
      image2x: 'img/products/product-2@2x.jpg',
      imageWebp: 'img/products/product-2.webp',
      imageWebp2x: 'img/products/product-2@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой.',
      oldPrice: 22500,
      newPrice: 15500,
      isNew: true,
    },
    {
      heading: 'Перфоратор BOSCH BFG 6000',
      href: '#',
      image: 'img/products/product-3.jpg',
      image2x: 'img/products/product-3@2x.jpg',
      imageWebp: 'img/products/product-3.webp',
      imageWebp2x: 'img/products/product-3@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой и ограничительной линейкой.',
      oldPrice: 30500,
      newPrice: 25500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 2000',
      href: '#',
      image: 'img/products/product-2.jpg',
      image2x: 'img/products/product-2@2x.jpg',
      imageWebp: 'img/products/product-2.webp',
      imageWebp2x: 'img/products/product-2@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой.',
      newPrice: 12500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 3000',
      href: '#',
      image: 'img/products/product-2.jpg',
      image2x: 'img/products/product-2@2x.jpg',
      imageWebp: 'img/products/product-2.webp',
      imageWebp2x: 'img/products/product-2@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой.',
      oldPrice: 22500,
      newPrice: 15500,
      isNew: true,
    },
    {
      heading: 'Перфоратор BOSCH BFG 6000',
      href: '#',
      image: 'img/products/product-3.jpg',
      image2x: 'img/products/product-3@2x.jpg',
      imageWebp: 'img/products/product-3.webp',
      imageWebp2x: 'img/products/product-3@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой и ограничительной линейкой.',
      oldPrice: 30500,
      newPrice: 25500,
    },
    {
      heading: 'Перфоратор BOSCH BFG 2000',
      href: '#',
      image: 'img/products/product-2.jpg',
      image2x: 'img/products/product-2@2x.jpg',
      imageWebp: 'img/products/product-2.webp',
      imageWebp2x: 'img/products/product-2@2x.webp',
      alt: 'Перфоратор аккумуляторный с угловой компоновкой.',
      newPrice: 12500,
    },
  ];
