-
  var servicesTabs = [
    {
      id: 'delivery-service',
      heading: 'Доставка',
      text: 'Мы с&nbsp;удовольствием доставим ваш товар прямо к&nbsp;вашему подъезду совершенно бесплатно!<br> Ведь мы неплохо заработаем,<br> поднимая его на&nbsp;ваш этаж!',
      image: 'img/services/delivery.png',
      image2x: 'img/services/delivery@2x.png',
      imageWebp: 'img/services/delivery.webp',
      imageWebp2x: 'img/services/delivery@2x.webp',
    },
    {
      id: 'guarantee-service',
      heading: 'Гарантия',
      text: 'Если купленный у&nbsp;нас товар поломается или заискрит, а&nbsp;также в&nbsp;случае пожара, спровоцированного его возгоранием, вы всегда можете быть уверены в&nbsp;нашей гарантии. Мы обменяем сгоревший товар на&nbsp;новый. Дом уж восстановите как-нибудь сами.',
      image: 'img/services/guarantee.png',
      image2x: 'img/services/guarantee@2x.png',
      imageWebp: 'img/services/guarantee.webp',
      imageWebp2x: 'img/services/guarantee@2x.webp',
    },
    {
      id: 'credit-service',
      heading: 'Кредит',
      text: 'Залезть в&nbsp;долговую яму стало проще!<br> Кредитные консультанты придут вам на&nbsp;помощь.',
      image: 'img/services/credit.png',
      image2x: 'img/services/credit@2x.png',
      imageWebp: 'img/services/credit.webp',
      imageWebp2x: 'img/services/credit@2x.webp',
      linkText: 'Отправить заявку',
      href: '#',
    },
  ];
