include blocks/about
include blocks/about-and-location
include blocks/alter-button
include blocks/brands
include blocks/brands-list
include blocks/breadcrumbs
include blocks/button
include blocks/checker
include blocks/contacts
include blocks/label
include blocks/location
include blocks/list
include blocks/logo
include blocks/main-button
include blocks/number-field
include blocks/number-range
include blocks/offer
include blocks/offer-banner
include blocks/offers
include blocks/offers-list
include blocks/product
include blocks/products
include blocks/products-list
include blocks/search-form
include blocks/section-header
include blocks/service
include blocks/services
include blocks/shortcuts
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/slider-with-offer-banners
include blocks/socials
include blocks/taber-with-services
include blocks/user-navigation
