include blocks/contacts
include blocks/logo
include blocks/search-form
include blocks/shortcuts
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/socials
include blocks/user-navigation
